.step {
  display: flex;
  flex-direction: column;
  margin-top: calc(68 / 16 * 1vw);
}

.roller {
  width: 100%;
  height: calc(21 / 16 * 1vw);
  display: flex;
  justify-content: start;
  background-color: #f2f2f2;
  position: relative;
}

.roller > div:first-child {
  height: 100%;
  background: linear-gradient(252.29deg, #ffa64a 29.24%, #eb4800 100%);
}

.step h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: calc(40 / 16 * 1vw);
  line-height: 100%;
  letter-spacing: 0%;
  color: #333333;
  text-align: center;
  margin-top: calc(164 / 16 * 1vw);
  margin-bottom: calc(164 / 16 * 1vw);
}

.chooseStep {
  width: calc(1281 / 16 * 1vw);
  display: flex;
  flex-wrap: wrap;
  column-gap: calc(138 / 16 * 1vw);
  row-gap: calc(49 / 16 * 1vw);
  margin: 0 auto;
  margin: 0 auto;
}

.chooseStep > button {
  display: flex;
  gap: calc(40 / 16 * 1vw);
  align-items: center;
  padding-left: calc(21 / 16 * 1vw);
  width: calc(335 / 16 * 1vw);
  height: calc(79 / 16 * 1vw);
  background-color: #f85900;
  border-radius: calc(15 / 16 * 1vw);
  border: none;
  cursor: pointer;
}

.chooseStep > button > div {
  width: calc(24 / 16 * 1vw);
  height: calc(24 / 16 * 1vw);
  background-color: #ffffff;
  border-radius: calc(5 / 16 * 1vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct > img {
  width: calc(17 / 16 * 1vw);
  height: calc(15.5 / 16 * 1vw);
}

.chooseStep > button > p {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: calc(20 / 16 * 1vw);
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.chosenBtn {
  box-shadow: calc(10 / 16 * 1vw) calc(10 / 16 * 1vw) calc(15 / 16 * 1vw) 0px
    #f8590066;
  box-shadow: calc(-7 / 16 * 1vw) calc(-7 / 16 * 1vw) calc(15 / 16 * 1vw) 0px
    #f8590066;
}

.navigationSteps {
  display: flex;
  gap: calc(33 / 16 * 1vw);
  align-items: center;
  justify-content: center;
  margin-top: calc(125 / 16 * 1vw);
}

.navigationSteps > button {
  width: calc(58 / 16 * 1vw);
  height: calc(34.8 / 16 * 1vw);
  border: calc(2 / 16 * 1vw) solid#FF5C00;
  border-radius: calc(15 / 16 * 1vw);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  cursor: pointer;
}

.navigationSteps > button > img {
  width: calc(24.5 / 16 * 1vw);
  height: calc(24.5 / 16 * 1vw);
}

.dots {
  display: flex;
  gap: calc(19 / 16 * 1vw);
  align-items: center;
  position: relative;
}

.dots > button {
  width: calc(17 / 16 * 1vw);
  height: calc(17 / 16 * 1vw);
  background-color: #f85900;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.currentDot {
  position: absolute;
  width: calc(55 / 16 * 1vw);
  height: calc(20 / 16 * 1vw);
  border-radius: calc(15 / 16 * 1vw);
  background-color: #f85900;
}

.callStep {
  display: flex;
  position: relative;
  margin-top: calc(81 / 16 * 1vw);
  margin-bottom: calc(54 / 16 * 1vw);
  width: calc(198 / 16 * 1vw);
  height: calc(46 / 16 * 1vw);
  border: none;
  border-radius: calc(10 / 16 * 1vw);
  background-color: #fe4d4d;
  align-items: center;
  margin-left: calc(1263 / 16 * 1vw);
}

.callStep > img {
  position: absolute;
  right: -30%;
  top: -60%;
  z-index: 1;
  width: calc(107 / 16 * 1vw);
  height: calc(107 / 16 * 1vw);
}

.callStep > p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: calc(14 / 16 * 1vw);
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;
  color: #ffffff;
  padding-right: calc(70 / 16 * 1vw);
}

.discountStep {
  padding: calc(24 / 16 * 1vw) calc(34 / 16 * 1vw) calc(20 / 16 * 1vw)
    calc(37 / 16 * 1vw);
  display: flex;
  gap: calc(25 / 16 * 1vw);
  align-items: center;
  background-color: #fe4d4d;
  border-top-left-radius: calc(25 / 16 * 1vw);
  border-bottom-left-radius: calc(25 / 16 * 1vw);
  position: absolute;
  top: calc(-68 / 16 * 1vw);
  height: calc(158 / 16 * 1vw) !important;
  right: 0;
  width: auto !important;
}

.discountStep img {
  width: calc(80 / 16 * 1vw);
  height: calc(80 / 16 * 1vw);
}

.discountStep p {
  width: calc(259 / 16 * 1vw) !important;
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-size: calc(16 / 16 * 1vw);
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.discountStep p span {
  font-weight: 700;
}

.step5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step5 > h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: calc(30 / 16 * 1vw);
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.step5 > h2 > span {
  color: #f85900;
}

.step5 > p:nth-child(2) {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: calc(20 / 16 * 1vw);
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
  width: calc(1111 / 16 * 1vw);
  margin-top: calc(21 / 16 * 1vw);
  margin-bottom: calc(40 / 16 * 1vw);
}

.step5 > p:nth-child(3) {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: calc(20 / 16 * 1vw);
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
}

.step5 > p:nth-child(3) > span {
  color: white;
  background-color: #fa9054;
}

.step5 form {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: calc(147 / 16 * 1vw);
}

.step5 form > h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: calc(30 / 16 * 1vw);
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.step5 form > div {
  display: flex;
  gap: calc(5 / 16 * 1vw);
  align-items: center;
  height: calc(52 / 16 * 1vw);
  margin-top: calc(50 / 16 * 1vw);
  margin-bottom: calc(26 / 16 * 1vw);
}

.step5 form > div > input {
  width: calc(285 / 16 * 1vw);
  height: 100%;
  border: calc(3 / 16 * 1vw) solid#FF5C00;
  background-color: inherit;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: calc(15 / 16 * 1vw);
  line-height: 100%;
  letter-spacing: 0%;
  color: #868686;
  padding: calc(17 / 16 * 1vw) calc(20 / 16 * 1vw);
  outline: none;
}

.step5 form > div > input::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: calc(15 / 16 * 1vw);
  line-height: 100%;
  letter-spacing: 0%;
  color: #868686;
}

.step5 form > div > button {
  width: calc(142 / 16 * 1vw);
  background-color: #ff5c00;
  border: none;
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: calc(15 / 16 * 1vw);
  line-height: 100%;
  letter-spacing: 0%;
  height: 100%;
  text-align: center;
}

.step5 form > p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: calc(20 / 16 * 1vw);
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

@media only screen and (max-width: 414px) {
  .step {
    display: flex;
    flex-direction: column;
    margin-top: calc(68 / 4.14 * 1vw);
  }

  .roller {
    width: 100%;
    height: calc(21 / 4.14 * 1vw);
    display: flex;
    justify-content: start;
    background-color: #f2f2f2;
    position: relative;
  }

  .roller > div:first-child {
    height: 100%;
    background: linear-gradient(252.29deg, #ffa64a 29.24%, #eb4800 100%);
  }

  .step h1 {
    font-size: calc(30 / 4.14 * 1vw);
    margin-top: calc(40 / 4.14 * 1vw);
    margin-bottom: calc(40 / 4.14 * 1vw);
    width: calc(246 / 4.14 * 1vw);
    margin-left: auto;
    margin-right: auto;
  }

  .chooseStep {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    column-gap: 0;
    row-gap: calc(30 / 4.14 * 1vw);
    align-items: center;
  }

  .chooseStep > button {
    display: flex;
    gap: calc(40 / 4.14 * 1vw);
    align-items: center;
    padding-left: calc(21 / 4.14 * 1vw);
    width: calc(335 / 4.14 * 1vw);
    height: calc(79 / 4.14 * 1vw);
    background-color: #f85900;
    border-radius: calc(15 / 4.14 * 1vw);
    border: none;
    cursor: pointer;
  }

  .chooseStep > button > div {
    width: calc(24 / 4.14 * 1vw);
    height: calc(24 / 4.14 * 1vw);
    background-color: #ffffff;
    border-radius: calc(5 / 4.14 * 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .correct > img {
    width: calc(17 / 4.14 * 1vw);
    height: calc(15.5 / 4.14 * 1vw);
  }

  .chooseStep > button > p {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: calc(20 / 4.14 * 1vw);
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
  }

  .chosenBtn {
    box-shadow: calc(10 / 4.14 * 1vw) calc(10 / 4.14 * 1vw)
      calc(15 / 4.14 * 1vw) 0px #f8590066;
    box-shadow: calc(-7 / 4.14 * 1vw) calc(-7 / 4.14 * 1vw)
      calc(15 / 4.14 * 1vw) 0px #f8590066;
  }

  .navigationSteps {
    display: flex;
    gap: calc(33 / 4.14 * 1vw);
    align-items: center;
    justify-content: center;
    margin-top: calc(125 / 4.14 * 1vw);
    margin-bottom: calc(30.2 / 4.14 * 1vw);
  }

  .navigationSteps > button {
    width: calc(58 / 4.14 * 1vw);
    height: calc(34.8 / 4.14 * 1vw);
    border: calc(2 / 4.14 * 1vw) solid#FF5C00;
    border-radius: calc(15 / 4.14 * 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    cursor: pointer;
  }

  .navigationSteps > button > img {
    width: calc(24.5 / 4.14 * 1vw);
    height: calc(24.5 / 4.14 * 1vw);
  }

  .dots {
    display: flex;
    gap: calc(19 / 4.14 * 1vw);
    align-items: center;
    position: relative;
  }

  .dots > button {
    width: calc(17 / 4.14 * 1vw);
    height: calc(17 / 4.14 * 1vw);
    background-color: #f85900;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

  .currentDot {
    position: absolute;
    width: calc(55 / 4.14 * 1vw);
    height: calc(20 / 4.14 * 1vw);
    border-radius: calc(15 / 4.14 * 1vw);
    background-color: #f85900;
  }

  .callStep {
    display: none;
  }

  .discountStep {
    display: none !important;
  }

  .step5 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .step5 > h2 {
    font-size: calc(20 / 4.14 * 1vw);
    text-align: center;
    width: calc(319 / 4.14 * 1vw);
  }

  .step5 > h2 > span {
    color: #f85900;
  }

  .step5 > p:nth-child(2) {
    font-size: calc(13 / 4.14 * 1vw);
    width: calc(345 / 4.14 * 1vw);
    margin-top: calc(40 / 4.14 * 1vw);
    margin-bottom: calc(40 / 4.14 * 1vw);
  }

  .step5 > p:nth-child(3) {
    font-size: calc(20 / 4.14 * 1vw);
    width: calc(248.5 / 4.14 * 1vw);
  }

  .step5 > p:nth-child(3) > span {
    color: white;
    background-color: #fa9054;
  }

  .step5 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(61 / 4.14 * 1vw);
  }

  .step5 form > h2 {
    font-size: calc(20 / 4.14 * 1vw);
  }

  .step5 form > div {
    display: flex;
    gap: calc(15 / 4.14 * 1vw);
    flex-direction: column;
    height: auto;
    margin-top: calc(31 / 4.14 * 1vw);
    margin-bottom: calc(30 / 4.14 * 1vw);
  }

  .step5 form > div > input {
    width: calc(285 / 4.14 * 1vw);
    height: calc(52 / 4.14 * 1vw);
    border: calc(3 / 4.14 * 1vw) solid#FF5C00;
    background-color: inherit;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: calc(15 / 4.14 * 1vw);
    line-height: 100%;
    letter-spacing: 0%;
    color: #868686;
    padding: calc(17 / 4.14 * 1vw) calc(20 / 4.14 * 1vw);
    outline: none;
  }

  .step5 form > div > input::placeholder {
    font-size: calc(15 / 4.14 * 1vw);
  }

  .step5 form > div > button {
    width: calc(285 / 4.14 * 1vw);
    font-size: calc(15 / 4.14 * 1vw);
    height: calc(52 / 4.14 * 1vw);
  }

  .step5 form > p {
    width: calc(300 / 4.14 * 1vw);
    font-size: calc(15 / 4.14 * 1vw);
    text-align: center;
  }
}
