.step {
  display: flex;
  flex-direction: column;
  margin-top: calc(68 / 16 * 1vw);
}

.roller {
  width: 100%;
  height: calc(21 / 16 * 1vw);
  display: flex;
  justify-content: start;
  background-color: #f2f2f2;
}

.roller > div {
  width: calc(320 / 16 * 1vw);
  height: 100%;
  background: linear-gradient(252.29deg, #ffa64a 29.24%, #eb4800 100%);
}

.step h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: calc(40 / 16 * 1vw);
  line-height: 100%;
  letter-spacing: 0%;
  color: #333333;
  text-align: center;
  margin-top: calc(164 / 16 * 1vw);
  margin-bottom: calc(164 / 16 * 1vw);
}

.chooseStep {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc(138 / 16 * 1vw);
}

.chooseStep > button {
  display: flex;
  gap: calc(40 / 16 * 1vw);
  align-items: center;
  padding-left: calc(21 / 16 * 1vw);
  width: calc(335 / 16 * 1vw);
  height: calc(79 / 16 * 1vw);
  background-color: #f85900;
  border-radius: calc(15 / 16 * 1vw);
  border: none;
}

.chooseStep > button > div {
  width: calc(24 / 16 * 1vw);
  height: calc(24 / 16 * 1vw);
  background-color: #ffffff;
  border-radius: calc(5 / 16 * 1vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chooseStep > button > p {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: calc(20 / 16 * 1vw);
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
